*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .box1{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
}

.b1a{
    width: 70%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
}
.col{
    width: 49.5%;
    height: 100%;
    /* border: 1px solid black; */
    display: inline-block;
}
.b1a .right{
    text-align: center;
    padding-top: 150px;

}
.content{
    width: 50%;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.b1a .left{
padding-top: 250px;
}

.box2{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    background-image: url("assets/bg.jpg");
    display: flex;

}
.bx{
    width: 33.2%;
    height: 100%;
    /* border: 1px solid black; */
    display: inline-block;
}
.b2a,.b2b,.b2c{
    color: white;
    padding-top: 230px;
}
.box3{
    width: 100%;
    height: 500px;
    border: 1px solid white;
}
.b3a{
    width: 35%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align-last: center;
    text-align: justify;
    line-height: 20px;
    margin-top: 180px;
}

.box4{
    text-align: center;
    width: 100%;
    height: 800px;
    border: 1px solid rgb(0, 219, 219);
    background-image:url(assets/bg.jpg);
}
.b4a{
    margin-top: 200px;
    line-height: 25px;
    border-radius: 10px;
}
.bb{
    width: 27%;
    border: 1px dashed white;
    height: 250px;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-top: 120px;
}

.b4d{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 22px;

}